{% extends 'base.html.twig' %}

{% block title %}APF - Anagram Pseudo Finder{% endblock %}

{% block body %}
    <h1>Find anagrams of your name</h1>
    <div style="text-align: center;">
        <p>Works best when you enter a surname and a forename:</p>
        {{ form_start(form) }}
        {{ form_widget(form.search_name) }}
        {{ form_end(form) }}
    </div>

    <h1>Quizz</h1>
    {% include "quizz/embed.html.twig" with {pageName: "home"} %}
    </div>

{% endblock %}
