{% extends 'base.html.twig' %}

{% block title %}APF - Anagram Pseudo Finder{% endblock %}

{% block body %}
    <h1>Find anagrams of any name</h1>
    <div style="text-align: center; margin-bottom: 2em;">
        {{ form_start(form) }}
        <label>
            Works best when you enter a surname and a forename:
        {{ form_widget(form.search_name, {'id': "home_search"}) }}
        </label>
        <br/><br/>
        <input type="submit" value="Get anagrams" id="homeSubmit"/>
        {{ form_end(form) }}
    </div>

<!--    <h1>Quizz</h1>
    {% include "quizz/embed.html.twig" with {pageName: "home"} %}
    </div> -->

{% endblock %}
