{% extends 'base.html.twig' %}

{% block title %}APF - Anagram Pseudo Finder{% endblock %}

{% block css %}
    input {
    height:2em;
    width:60%;
    }

    button {
    display: inline-block;
    font-size:1.5em;
    }


{% endblock %}

{% block body %}
    <p>Do you know the famous people behind these anagrams: <a href="http://apf.geobib.fr/anagrams-of-isaac-newton/436">Owen Castani</a>, <a href="http://apf.geobib.fr/anagrams-of-marilyn-monroe/442">Elionor Myrman</a> or <a href="http://apf.geobib.fr/anagrams-of-mickael-jackson/444">Aleksij Cockman</a>?.</p>
    <div style="text-align: center;">
        <p><span style="font-size:2em">Find yours</span><br/>
            <span style="font-size:2em">⬇</span>
        {{ form_start(form) }}
        {{ form_widget(form.search_name) }}
        {{ form_end(form) }}
        </p>
    </div>
{% endblock %}
