{% extends 'base.html.twig' %}

{% block title %}APF - Anagram Pseudo Finder{% endblock %}

{% block body %}
    <p>This tool will, based on a real name, try to find an anagram that looks like a real name. The data used are coming from <a href="https://www.wikidata.org">Wikidata</a>.</p>
    <p>Please enter the name you want to <i>anagramized</i>:
        {{ form_start(form) }}
        {{ form_widget(form.search_name) }}
        {{ form_end(form) }}
    </p>
{% endblock %}
