<script type="text/javascript">
    function callJson() {
        fetch("{{ url("ajax_result", {'name': result.search}) }}")
            .then(function (response) {
                let contentType = response.headers.get("content-type");
                if (contentType && contentType.indexOf("application/json") !== -1) {
                    return response.json().then(function (json) {
                        let progressBar = document.getElementById("barStatus");
                        progressBar.style.width = json.percent + '%';

                        if (json.status == 2) {
                            document.querySelector("#progressBar").style.display = "none";
                            {% if result.id %}
                                document.querySelector("#numFound").innerHTML = totalNumFound + " anagrams found : <strong>finished ✔</strong> (<a href='{{ url('permalink', {name: result.searchSlugified, id: result.id}) }}'>sort alphabetically</a>)";
                            {% endif %}
                            document.querySelector("#share").style.display = "block";
                            document.querySelector("#filter").style.display = "block";
                            document.querySelector("#loader").style.display = "none";
                        } else if (json.status == 1) {
                            for (let i = 0; i < json.results.length; i++) {
                                let element = document.createElement("li");
                                element.textContent = json.results[i]['s'] + " " + json.results[i]['f'];
                                {% if quizz is defined %}
                                element.innerHTML = json.results[i]['s'] + " " + json.results[i]['f'] + " : <a href='{{ url('quizz_add_second', {id: quizz.id, secret: quizz.secret})}}/" + json.results[i]['s'] + " " + json.results[i]['f'] + "'>choose</a>";
                                {% endif %}
                                element.className = "gender" + json.results[i]["g"];
                                element.classList.add("gender");
                                document.querySelector("#resultList").appendChild(element);
                            }
                            totalNumFound += json.results.length;
                            document.querySelector("#numFound").textContent = totalNumFound + " found";
                            callJson();
                        } else {
                            console.log("Autre statut");
                            console.log(json);
                        }
                    });
                }
                console.log(contentType);
            }).catch(error => {
            alert("KO");
        });
    }
</script>