<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>{% block title %}APF{% endblock %}</title>
    {% include "includes/base_css.html.twig" %}
</head>
<body>
<div id="container">
    <h1><a href="{{ url("home") }}">APF - Anagram Pseudo Finder</a></h1>

    {% block body %}{% endblock %}
    <footer>
        The only information being stored by this tool is the name you input above in order to provide a caching method in case you share the results of your anagram. All data provided as CC-0 by <a href="https://www.wikidata.org">Wikidata</a>. Results can be freely reused under the same license.
        <br/><div style="text-align: center;">- <a href="{{ url("about") }}">About</a> -</div>
    </footer>
</div>
{% include "includes/base_js.html.twig" %}
{% block javascripts %}{% endblock %}

</body>
</html>
