{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
    <h1>Adding quizz</h1>

    <div>
        Quizz added : {{ quizz.id }}
    </div>
{% endblock %}
